<header>
  <div class="container">
    <ul>
      <img class="logo" src="../../assets/images/logo.svg">

      <li [routerLink]="['/home']" routerLinkActive="router-link-active">Films</li>
      <li [routerLink]="['/home']" routerLinkActive="router-link-active">People</li>
      <li [routerLink]="['/home']" routerLinkActive="router-link-active">Planets</li>
      <li [routerLink]="['/home']" routerLinkActive="router-link-active">Species</li>
      <li [routerLink]="['/home']" routerLinkActive="router-link-active">Starships</li>
      <li [routerLink]="['/home']" routerLinkActive="router-link-active">Vehicles</li>
    </ul>
  </div>
</header>